#sub {
	background-color: #f8f8f8;
	margin-bottom:10px;
	padding: 65px 0;
}

.content-section-goal {
		background-color: #2b86ae;
	opacity: 0.68;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	padding: 10px 0 20px 0;
}
.my-divider {
    background-color: #D3D4D8;
    height: 1px;
}
.dropdown-menu1 > li > a {
color: #566473 !important;
font-size: 12px;
font-weight: 600;
padding: 10px 20px;
outline: none;
text-decoration: none;

}
/* funbox 1 */

.fun-box1 {
text-align: center;
padding: 50px 20px;
margin-top: 10px;
background: rgba(43, 134, 174, 0.5);
}

.fun-box1 i {
display: block;
font-size: 40px;
font-weight: 400;
color: white;
}
.fun-box1 p {
color: white;
font-size: 12px;
text-transform: uppercase;
margin-bottom: 0;
}
.col-md-5 {
	padding-left:5px;
	padding-right:5px;
}

/* funbox 2 */
.fun-box2 {
text-align: center;
padding: 20px 20px;
margin-top: 10px;
background: rgba(43, 134, 174, 0.5);
}

.fun-box2 i {
display: block;
font-size: 40px;
font-weight: 400;
color: white;
}
.fun-box2 p {
color: white;
font-size: 12px;
text-transform: uppercase;
margin-bottom: 0;
}
.col-md-5 {
	padding-left:5px;
	padding-right:5px;
}

/* quotes */

.qname {
		float:right;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 600;

}


/* text */

.justified {
	text-align:justify;
}

/* MGP */
.mgp-header {
	padding-top: 65px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
	padding-bottom: 10px;
	color: #f8f8f8;
	background: url(../img/mgp/ipad.jpg) no-repeat center center;
	background-size: cover;
	text-align: center;
	
}


.mgp-message > h1 {
	margin: 0;
	font-size: 5em;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.mgp-divider {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.mgp-message > h3 {
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

@media (max-width: 767px) {
	.mgp-message {
		padding-bottom: 15%;
	}

	.mgp-message > h1 {
		font-size: 3em;
	}

	ul.mgp-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.mgp-social-buttons > li:last-child {
		margin-bottom: 0;
	}

	.mgp-divider {
		width: 100%;
	}
}