/*==============*
 *== CAROUSEL ==*
 *==============*/

   html, body {
	height:100%;
}

.carousel {
	height:60%;
	margin-top: 65px;
}

.item,
.active,
.carousel-inner {
	height:100%;
}

.carousel .item {-webkit-transition: opacity 3s; -moz-transition: opacity 3s; -ms-transition: opacity 3s; -o-transition: opacity 3s; transition: opacity 3s;}
.carousel .active.left {left:0;opacity:0;z-index:2;}
.carousel .next {left:0;opacity:1;z-index:1;}

.fill {
	position:absolute;
	width:100%;
	height:100%;
	background-position: center;
	background-size: cover;
}

.section {
	margin: 50px 0;
}

footer {
	margin: 50px 0;
}
.carousel-indicators li {
display: inline-block;
width: 10px;
height: 10px;
margin: 1px;
text-indent: -999px;
cursor: pointer;
background-color: #000 \9;
background-color: rgba(0, 0, 0, 0);
border: 1px solid white;
border-radius: 10px;
opacity: 0.6;
}
.carousel-indicators .active {
width: 12px;
height: 12px;
margin: 0;
background-color: white;
opacity: 0.6;
}

/*=============*
 *== Buttons ==*
 *=============*/

/*== FEATURES ==*/

 .btn-feat {
  color: #333;
  background-color: white;
  opacity: 1;
  }
  .btn-feat:hover {
  color: #19A2FF;
  border-bottom:3px solid #83EE1B;
  opacity: 1;
  }
  
/*== REPORTING ==*/
  .btn-report {
  color: #333;
  background-color: white;
  opacity: 1;
  }
  .btn-report:hover {
  color: #19A2FF;
  border-bottom:3px solid #83EE1B;
  opacity: 1;
  }

  /*== INTEGRATIONS ==*/
  .btn-integ {
  color: #333;
  background-color: white;
  opacity: 1;
  }
  .btn-integ:hover {
  color: #19A2FF;
  border-bottom:3px solid #83EE1B;
  opacity: 1;
  }

  /*== PRICING ==*/
  .btn-price {
  color: #333;
  background-color: white;
  opacity: 1;
  }
  .btn-price:hover {
  color: #19A2FF;
  border-bottom:3px solid #83EE1B;
  opacity: 1;
  }


.folio-btn {
list-style: none;
background: #fff;
float: left;
cursor: pointer;
border-radius: 3px;
padding: 0px 22px;
font-family: 'Open Sans', sans-serif;
font-size: 15px;
color: #c1c1c1;
font-weight: 400;
line-height: 32px;
text-decoration: none;
margin: 0 5px 10px;
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}

#options {
float: right;
right: 38%;
position: relative;
margin-bottom: 20px;
}

/*============*
 *== Header ==*
 *============*/
 .prohead {
padding-top: 10%;
position: inherit;
width: 100%;
height: 100%;
}
.prohead img{
	width:400px;
	height:auto;
	opacity: 0.9;
}

/*.prohead hr {
	margin-top: -1px;
	width:200px;
	border-top:1px solid #C3C3C3;
}*/
.mgp-header {

	margin-top: 65px; 
	/*padding-bottom: 200px;*/
	color: white;
	background: url(../img/mgp/green_bg.png) no-repeat center center;
	background-size: cover;
	text-align: center;
	width:100%;
	height: 60%
}


/*==============*
 *== Features ==*
 *==============*/


 /*== bgs ==*/

.award li:hover {
	cursor: pointer;

}
.meter {

	background-image:url('../img/mgp/bgs/meterbg.png');
}
/*== Row 1 ==*/

.calc {
	background-image:url('../img/mgp/bgs/colcalcbg.png');
}
.healthc {
	background-image: url('../img/mgp/bgs/healthc.png');
}
.playz {
	background-image: url('../img/mgp/bgs/playz.png')
}
.afraid {
	background-image: url('../img/mgp/bgs/afraid.png');
}

/*== Row 2 ==*/

.smartcal {
	background-image: url('../img/mgp/bgs/smartcalc.png');
}
.supers {
	background-image: url('../img/mgp/bgs/supers.png');
}
.sum {
	background-image: url('../img/mgp/bgs/sumbg.png');

}

.yodlee {
	background-image: url('../img/mgp/bgs/yodlee.png')
}

/*=================*
 *=== Reporting ===*
 *=================*/	

#reporting {
	
}

.reporting_section {
	width:auto;
	height:auto;
	background-color:white;
	padding-top: 150px;
}

object{
	width:100%;
	height:300px;
	background-color: black;
}
/*== Left ==*/

.reportleft{
	float:left;
}

.reportright {
	float:right;
	}

/*==================*
 *== Integrations ==*
 *==================*/

 #integration {
	
}

.integration_section {
	width:auto;
	height:auto;
	background-color:white;
	padding: 200px 0;
}

/*=============*
 *== Pricing ==*
 *=============*/

 .pricing_section {
	width:auto;
	height:auto;
	background-color:white;
	padding-top: 180px;
}


