/*===========*
 *== LOGIN ==*
 *===========*/

.login {
   margin-top:10%;
   margin-bottom:20%;
    
 }
    
.mg-login {
   color: #fff;
   background-color: #5cb85c;
}

/*============*
 *== HEADER ==*
 *============*/

.mgs-header {
	padding-top: 65px; 
	/*padding-bottom: 200px;*/
	color: white;
	background: url(../img/mgs/blue_bg.png) no-repeat center center;
	background-size: cover;
	text-align: center;
	width:100%;
	height: 50%
}
.solutionshead {
padding-top: 5%;
position: inherit;
width: 100%;
height: 100%;
}
.solutionshead img{
	height:200px;
	width:auto;
	opacity: 0.9;
}

#sub {
	text-align: center;
}
/*=============*
 *== Buttons ==*
 *=============*/

/*== LAB ==*/

 .btn-lab {
  color: #333;
  background-color: white;
  opacity: 1;
  }
  .btn-lab:hover {
  color: #19A2FF;
  border-bottom:3px solid #19A2FF;
  opacity: 1;
  }
  
/*== Brand ==*/
  .btn-brand {
  color: #333;
  background-color: white;
  opacity: 1;
  }
  .btn-brand:hover {
  color: #19A2FF;
  border-bottom:3px solid #19A2FF;
  opacity: 1;
  }

  /*== FACTS ==*/
  .btn-facts {
  color: #333;
  background-color: white;
  opacity: 1;
  }
  .btn-facts:hover {
  color: #19A2FF;
  border-bottom:3px solid #19A2FF;
  opacity: 1;
  }

  /*== CONTACT ==*/
  .btn-contact {
  color: #333;
  background-color: white;
  opacity: 1;
  }
  .btn-contact:hover {
  color: #19A2FF;
  border-bottom:3px solid #19A2FF;
  opacity: 1;
  }


  /*============*
   *== SLIDER ==*
   *============*/

   html, body {
	height:100%;
}

.carousel {
	height:60%;
	margin-top: 65px;
}

.item,
.active,
.carousel-inner {
	height:100%;
}

.carousel .item {-webkit-transition: opacity 3s; -moz-transition: opacity 3s; -ms-transition: opacity 3s; -o-transition: opacity 3s; transition: opacity 3s;}
.carousel .active.left {left:0;opacity:0;z-index:2;}
.carousel .next {left:0;opacity:1;z-index:1;}

.fill {
  position:absolute;
	width:100%;
	height:100%;
	background-position: center;
	background-size: cover;
}

.section {
	margin: 50px 0;
}

footer {
	margin: 50px 0;
}
.carousel-indicators li {
display: inline-block;
width: 10px;
height: 10px;
margin: 1px;
text-indent: -999px;
cursor: pointer;
background-color: #000 \9;
background-color: rgba(0, 0, 0, 0);
border: 1px solid white;
border-radius: 10px;
opacity: 0.6;
}
.carousel-indicators .active {
width: 12px;
height: 12px;
margin: 0;
background-color: white;
opacity: 0.6;
}